RewriteEngine On

# Only redirect if the file or directory doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Send everything to index.php
RewriteRule ^ index.php [QSA,L]
